html {
  scroll-snap-type: y mandatory;
}

.Sapp {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: white;
  color: #fff;
}

.video-container {
  position: relative;
  height: 85vh;
  width: 60%; /* Adjusted width */
  max-width: 400px; /* Adjusted max-width */
  border-radius: 20px;
  background-color: white;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  border: 2px solid black;
}

.video-container::-webkit-scrollbar {
  display: none;
}

.video-player {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Ensure the video covers the entire container */
}

.video-cards {
  position: relative;
  height: calc(100vh - 20px);
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: black;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 10px;
  padding-right: 10px;
}

.video-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 20px;
  pointer-events: auto;
}

.icon span {
  margin-top: 5px;
  font-size: 12px;
}
